$blue-light: #1d9bf0;

a{
    color: $blue-light;
    text-decoration: none;
}
/*header*/

.header{
    width: 100%;
    height: 4rem;
    &__icon{
        font-size: 4rem;
    }
}

/* Mian section */
.Main{
    &__title{
        font-weight: 700;
        line-height: 40px;
        font-size: 3.4rem;
        padding: 30px 0 40px 0;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 18px;
    }
    &__section{
        padding: 30px;
    }
}

.Buttons{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    &__main{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 280px;
        max-width: 500px;
        width: 100%;
        border-radius: 40px;
        padding: 10px 0;
        color: black;
        border: none;
        font-weight: 700;
        &-google{
            font-weight: 500;
            margin-bottom: 14px;
        }
        &-blue{
            font-size: 1.2rem;
            background-color: $blue-light;
            color: white;
            margin-bottom: 8px;
        }
        &-login{
            background-color: transparent;
            color: $blue-light;
            border: 1px solid grey;
        }
        i{
            font-size: 2.2rem;
            padding-right: 10px;
        }
    }
    &__text{
        font-size: 0.8rem;
        color: rgb(112, 111, 111);
        margin-bottom: 16px;
    }
    &__wrapper{
        font-size: 1.2rem;
        padding: 10px 0;
        display: flex;
        align-items: center;
        p{
            padding: 0 12px;
        }
        hr{
            min-width: 120px;
            max-width: 200px;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.Image{
    background-image: url('../assets/img/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__twitter{
        font-size: 300px;
        color: white;
    }
}

.footer{
    padding: 12px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    ul{
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        padding: 6px 0;
        text-align: center;
    }
    a{
        color: grey;
    }
}

@media (min-width: 900px) {
    .Main {
        display: flex;
        width: 100%;
        height: 800px;
        &__section{
            order: 2;
            justify-content: space-between;
        }
        &__title{
            margin-top: 40px ;
            width: 80%;
            line-height: 80px;
            font-size: 6.4rem;
        }
        &__subtitle{
            font-size: 3.0rem;
            margin-bottom: 40px;
        }
    }
    .Buttons{
        width: 40%;
        &__main{
            &-blue{
                font-weight: normal;
                font-size: 1.5rem;
            }
        }
        &__text{
            font-weight: normal;
            font-size: 1rem;
        }
    }
    .Image{
        width: 44%;
        height: 100%;
        order: 1;
        &__twitter{
            font-size: 400px;
        }
    }
    .footer{
        height: 10vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        ul{
            padding: 0;
            gap: 20px;
        }
    }
}