a {
  color: #1d9bf0;
  text-decoration: none;
}

/*header*/
.header {
  width: 100%;
  height: 4rem;
}
.header__icon {
  font-size: 4rem;
}

/* Mian section */
.Main__title {
  font-weight: 700;
  line-height: 40px;
  font-size: 3.4rem;
  padding: 30px 0 40px 0;
}
.Main__subtitle {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 18px;
}
.Main__section {
  padding: 30px;
}

.Buttons {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.Buttons__main {
  cursor: pointer;
  min-width: 280px;
  max-width: 500px;
  border-radius: 40px;
  padding: 10px 0;
  color: black;
  border: none;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Buttons__main-google {
  font-weight: 500;
  margin-bottom: 14px;
}
.Buttons__main-blue {
  display: inline;
  font-size: 1.2rem;
  background-color: #1d9bf0;
  color: white;
  margin-bottom: 8px;
  padding: 10px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Buttons__main-login {
  background-color: transparent;
  color: #1d9bf0;
  border: 1px solid grey;
}
.Buttons__main-login a {
  width: 100%;
}
.Buttons__main-continue {
  margin-bottom: 10px;
}
.Buttons__main i {
  font-size: 2rem;
  padding-right: 10px;
}
.Buttons__text {
  font-size: 1rem;
  color: rgb(112, 111, 111);
  margin-bottom: 16px;
}
.Buttons__wrapper {
  font-size: 1.2rem;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.Buttons__wrapper p {
  padding: 0 12px;
}
.Buttons__wrapper hr {
  min-width: 120px;
  max-width: 200px;
}
.Buttons__title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.Image {
  background-image: url("../assets/img/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 46vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Image__twitter {
  font-size: 300px;
  color: white;
}

.footer {
  padding: 12px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 6px 0;
  text-align: center;
}
.footer a {
  color: grey;
}

.Login {
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 20px;
  position: relative;
}
.Login__icon {
  font-size: 3.4rem;
}
.Login__form {
  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-top: 40px;
}
.Login__input {
  min-width: 280px;
  max-width: 500px;
  background: transparent;
  border: 1px solid grey;
  padding: 18px;
  border-radius: 4px;
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: white;
}
.Login__text {
  margin-top: 40px;
  align-self: flex-start;
  font-size: 1.6rem;
}
.Login__title {
  margin-bottom: 20px;
  align-self: flex-start;
}
.Login__forgot {
  color: white;
  font-weight: normal;
  font-size: 1.6rem;
}
.Login__close {
  border-radius: 50%;
  color: white;
  padding: 4px 8px;
  position: absolute;
  left: 20px;
}
.Login__close:hover {
  background-color: rgb(34, 33, 33);
}

@media (min-width: 900px) {
  .Main {
    display: flex;
    width: 100%;
    height: 800px;
  }
  .Main__section {
    order: 2;
    justify-content: space-between;
  }
  .Main__title {
    margin-top: 40px;
    width: 80%;
    line-height: 80px;
    font-size: 6.4rem;
  }
  .Main__subtitle {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  .Main__login {
    height: 100vh;
    width: 100%;
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Buttons {
    width: 40%;
  }
  .Buttons__main-blue {
    font-weight: normal;
    font-size: 1.5rem;
  }
  .Buttons__text {
    font-weight: normal;
    font-size: 1.1rem;
  }

  .Image {
    width: 44%;
    height: 100%;
    order: 1;
  }
  .Image__twitter {
    font-size: 360px;
  }

  .footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
  .footer ul {
    margin-right: 10px;
  }

  .Login {
    overflow-y: scroll;
    height: 80vh;
    width: 600px;
    border-radius: 20px;
    padding: 14px;
  }
  .Login__text {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
